@charset "UTF-8"
body{
    background-color: rgb(175, 166, 166);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1{
    color: rgb(0, 0, 0);
    background-color: rgb(235, 37, 192);
}

h2{
    color: chocolate
}

p{
    text-align: justify;
    color: rgb(47, 224, 47);
}