@charset "UTF 8";
* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;

}
body{
    background-image: linear-gradient(to right, #747E7E, #3F7C85);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #FF5F5D;
    width: 700px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #3F7C85;
    text-align: center;
    text-shadow: 1px 1px 2px #1e3b3ff8;
}
h2{
    color: #00CCBF;
}
p{
    text-align: justify;
}